<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


	<http auto-config="true">
		<intercept-url pattern="/faces/javax.faces.resource/**"
			access="isAnonymous()" />
		<intercept-url pattern="/dashboard/**"
			access="isAuthenticated()" />
		<intercept-url pattern="/signin/**"
			access="isAnonymous()" />
		<intercept-url pattern="/login/**"
			access="isAnonymous()" />

		<form-login login-page="/signin/index.xhtml"
			login-processing-url="/login" default-target-url="/dashboard"
			authentication-failure-url="/signin/index.xhtml?error=true" />

	</http>
	<authentication-manager>
		<authentication-provider
			user-service-ref="userDetailService">
			<password-encoder ref="passwordEncoder"/>
		</authentication-provider>
	</authentication-manager>

	<b:bean id="userDetailService"
		class="com.gdiazs.bantui.spring.CdiLocatorFactoryBean">
		<b:property name="businessInterface"
			value="org.springframework.security.core.userdetails.UserDetailsService" />
		<b:property name="businessImplementation"
			value="com.gdiazs.bantui.users.UserDetailsServiceImpl" />
	</b:bean>

	<b:bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<b:constructor-arg value="11" />
	</b:bean>
</b:beans>

